<main class="main">
  <div class="container" style="display: flex; background-color: #f5f7fa;">
    <div echarts *ngIf="isBrowser" [options]="chartOptions" [autoResize]="true" (chartClick)="onChartClick($event)" style="width: 60%; height: 500px;" ></div>
    <div style="width: 45%;">
      <p class="fw-bold fs-4">O que é o IVSA (Indicador de Vulnerabilidade Socioambiental)?</p>
      <p>
        É uma ferramenta que mostra quais lugares maior risco de sofrer com problemas como enchentes, deslizamentos, falta d'água ou crises sociais. Funciona como um sinal de alerta, apontando onde os impactos desses problemas podem ser mais graves. Com essas informações, a população e os órgãos públicos podem se preparar melhor e agir com antecedência para evitar tragédias e proteger a comunidade.
        <span class="fw-bold">Quando mais próximo de 1, maior o risco.</span>
      </p>
      <p class="fw-bold">Quer saber como está a sua região?</p>
      <p>Clique em um dos municípios para ver os detalhes dos indicadores.</p>

      <!-- Exibição dos detalhes do município -->
      <div *ngIf="detailMunicipio && detailMunicipio.length">
        <p class="fs-5">Indicadores do Município <span class="fw-bold">{{ detailMunicipio[0].municipio }}</span>:</p>
        <div *ngFor="let detail of detailMunicipio">
          <p>
            <strong>{{ detail.criterio }}:</strong> 
            {{
              detail.criterio === 'Suportabilidade'
                ? (100 - (detail.valor * 100))
                : (detail.valor * 100)
            | number:'1.2-2' }}%
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="background-color: #100C2A; color: #f5f7fa;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
          Criticidade
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
          Suportabilidade
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">
          Histórico de Incidentes
        </button>
      </li>
      <!-- Adicione mais abas conforme necessário -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <div class="row">
          <div class="col">
            <p class="fw-bold fs-4">O que seria Criticidade no IVSA?</p>
            <p>aghhihiuh</p>
          </div>
          <div class="col">
            <div echarts *ngIf="isBrowser" [options]="lineCriticidadeOptions" [autoResize]="true" style="height: 600px;" [theme]="'dark'"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <div class="row">
          <div class="col">
            <p class="fw-bold fs-4">O que seria Suportabilidade no IVSA?</p>
            <p>aghhihiuh</p>
          </div>
          <div class="col">
            <div echarts *ngIf="isBrowser" [options]="lineSuportabilidadeOptions" [autoResize]="true" style="height: 600px;" [theme]="'dark'"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        <div class="row">
          <div class="col">
            <p class="fw-bold fs-4">O que seria Histórico de Incidentes no IVSA?</p>
            <p>aghhihiuh</p>
          </div>
          <div class="col">
            <div echarts *ngIf="isBrowser" [options]="lineIncidenteOptions" [autoResize]="true" style="height: 600px;" [theme]="'dark'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
