<main class="main px-5 py-3">
    <p class="fs-3 mb-0">Sobre o projeto LANE</p>
    <span>Encontre aqui os datasets e o conteúdo relacionado ao projeto.</span>

    <div class="mt-5">
        <p>Para acessar todos os arquivos e datasets utilizados para o cálculo do IVSA clique <a href="https://github.com/star-centauri/tcc-ivsa-datasets">aqui</a></p>
        <p>Para acessar o código fonte do dashboard clique <a href="https://github.com/star-centauri/dashboard_ivsa">aqui</a></p>

        <p class="mb-0">Deixe seu feedback no form abaixo:</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdKZroD7bHUAAS3kLPtDoq7oAfag-QlowVGLCydd7YonITDLg/viewform?embedded=true" width="640" height="1151" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    </div>
</main>

